{% extends "dash_base.html" %}
{% block content %}
    {% load static %}
    <title>
        Menu Owner Info
    </title>
    <nav aria-label="breadcrumb mt-4" class="ms-4">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active opacity-5" aria-current="page">Menu Owner</li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Menu Owner info</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0 ml-4">Menu Owner Info</h6>
    </nav>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 font-weight-bold">Welcome to Gym Cafe</p>
                                    <h5 class="font-weight-bolder text-uppercase" id="user_name">
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div
                                        class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                    <img class="" width="48" height="48"
                                         src="https://img.icons8.com/doodle/48/bart-simpson.png" alt="bart-simpson"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Sales</p>
                                    <h5 class="font-weight-bolder">
                                        $103,430
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-white border-radius-lg d-flex me-2 mt-2 max-width-300">
                <input type="text" class="form-control border-0 ps-3" placeholder="Search Trainer Name...">
                <button class="btn bg-gradient-primary my-1 me-1">Search</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="mb-lg-0 mb-4">
                <div class="card z-index-2 h-100">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <div class="card-header pb-0 pt-3 bg-transparent">
                            <h6 class="text-capitalize">Sales overview of TrainerName</h6>
                            <p class="text-sm mb-0">
                                <i class="fa fa-arrow-up text-success"></i>
                                <span class="font-weight-bold">4% more</span> in 2021
                            </p>
                        </div>
                        <div>
                            <label for="filter_date_range" class="form-label" style="margin-left: 10px;"></label>
                            <input type="text" class="form-control mb-4" id="filter_date_range" name="filter_date_range"
                                   required placeholder="Enter Date Range">
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#filter_date_range", {
                mode: "range",
                dateFormat: "d-m-Y",
                placeholder: "Select Date Range"
            });

        });
        // Reset the input field on page refresh
        window.addEventListener('load', function () {
            document.getElementById("filter_date_range").value = "";
        });
    </script>

{% endblock %}