<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}

<head>
    <link href="https://fonts.cdnfonts.com/css/akira-expanded" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% tailwind_css %}

    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
            font-size: 22px;
        }
    </style>
</head>

<title>Trainer Dashboard</title>
<body class="p-4">
<header class="flex justify-end items-center mx-16">
    <div class="mr-auto">
        <h1 class="text-2xl font-bold">GYM CAFE</h1>
        <h1>Eat Right</h1>
    </div>
    <img class="h-6 w-6 overflow-hidden mr-2" src="https://img.icons8.com/ios/50/settings--v1.png" alt="gear-emoji"/>
    <img class="h-[42px] w-[42px] rounded-[30px] object-cover z-[1]" loading="eager" alt="bart-simpson-icon"
         src="https://img.icons8.com/doodle/48/bart-simpson.png">
</header>

<div class="grid grid-cols-1 lg:grid-cols-5 mt-8 h-full">
    <!-- First Column -->
    <div class="col-span-1 lg:col-span-1 flex flex-col items-center">
        <!-- Content for the first column -->
        <div class="self-stretch flex flex-col items-start justify-start py-0 pr-px pl-0 gap-[21px] text-xl font-poppins">
            <div class="flex flex-row items-start justify-end pt-[13px] pb-[22px] pr-[50px] pl-[63px] relative mq450:pl-5 mq450:pr-5 mq450:box-border">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.google.com/" class="flex items-center">
                    <img width="30" height="30" src="https://img.icons8.com/sf-black-filled/64/home.png" alt="home"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Home</span>
                </a>
            </div>
            <div class="flex flex-row items-start justify-end pt-[13px] pb-[22px] pr-[50px] pl-[63px] relative mq450:pl-5 mq450:pr-5 mq450:box-border">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.w3schools.com" class="flex items-center">
                    <img width="30" height="30"
                         src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/external-upload-interface-kiranshastry-solid-kiranshastry.png"
                         alt="external-upload-interface-kiranshastry-solid-kiranshastry"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Upload recipe</span>
                </a>
            </div>
            <div class="flex flex-row items-start justify-end pt-[13px] pb-[22px] pr-[50px] pl-[63px] relative mq450:pl-5 mq450:pr-5 mq450:box-border">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.google.com/" class="flex items-center">
                    <img width="30" height="30" src="https://img.icons8.com/glyph-neue/64/purchase-order.png"
                         alt="purchase-order"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Statements</span>
                </a>
            </div>
            <div class="flex flex-row items-center justify-end pt-[17px] pb-[18px] pr-[58px] pl-16 relative mq450:pl-5 mq450:pr-5 mq450:box-border">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.google.com/" class="flex items-center">
                    <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/list.png" alt="list"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Uploaded list</span>
                </a>
            </div>
            <div class="flex flex-row items-center justify-start pt-[17px] pb-[18px] pr-[75px] pl-16 relative mq450:pl-5 mq450:pr-5 mq450:box-border">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.google.com/" class="flex items-center">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/complaint.png"
                         alt="complaint"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Complaints</span>
                </a>
            </div>
            <div class="self-stretch flex flex-row items-center justify-start pt-4 px-16 pb-[19px] relative">
                <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-2xs z-[1]"></div>
                <a href="https://www.google.com/" class="flex items-center">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/online-support.png"
                         alt="online-support"/>
                    <span class="ml-2 relative z-[2] mq450:text-base">Help</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Second Column -->
    <div class="lg:col-span-3 col-span-1 mr-8 flex flex-col ">
        <!-- Content for the second column -->
        <div class="h-52 md:h-36 w-full rounded-xl bg-white shadow-[0px_4px_11.9px_4px_rgba(0,_0,_0,_0.13)] flex flex-col items-center md:flex-row mb-4">
            <img class="h-[68px] w-[68px] object-cover z-[2] rounded-full border-2 border-black ml-8" loading="eager"
                 alt="" src="https://img.icons8.com/doodle/480/bart-simpson.png">
            <div class="relative leading-[133%] text-left z-[2] ml-4">
                <p class="m-0">
                    <span class="text-base font-medium font-poppins">
                      <span class="text-darkslategray">Welcome to copyva</span>
                      <span class="text-color-black-100"> </span>
                    </span>
                </p>
                <p class="m-0">
                    <span class="text-color -black-100">
                      <b class="text-xl font-poppins">Thomas Varghese</b>
                    </span>
                </p>
            </div>
            <div class="flex ml-auto mr-4">
                <div class="flex flex-col">
                    <h1 class="relative text-sm font-medium font-poppins text-color-black-100 text-left z-[2]">Uploaded
                        Recipes</h1>
                    <h1 class="h-[39px] relative font-semibold font-poppins text-cornflowerblue text-left flex items-center z-[3] mq450:text-2xl">
                        <span class="mx-auto">0</span>
                    </h1>
                </div>
                <div class="flex flex-col ml-4">
                    <h1 class="relative text-sm font-medium font-poppins text-color-black-100 text-left z-[2]">Number of
                        sales</h1>
                    <h1 class="h-[39px] relative font-semibold font-poppins text-cornflowerblue text-left flex items-center z-[3] mq450:text-2xl ml-4 ">
                        <span class="mx-auto">0</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center mb-4">
            <div class="h-20 w-52 rounded-xl bg-white shadow-[0px_4px_11.9px_4px_rgba(0,_0,_0,_0.13)] flex items-center justify-center">
                <p>Describe About <br>yourself....</p>
            </div>
            <div class="h-20 w-52 rounded-xl bg-white shadow-[0px_4px_11.9px_4px_rgba(0,_0,_0,_0.13)] flex items-center justify-center md:ml-auto mt-4 md:mt-0">
                Upload Images.
            </div>
        </div>

        <div class="h-1/2 w-full rounded-xl bg-white shadow-[0px_4px_11.9px_4px_rgba(0,_0,_0,_0.13)] mb-4">
        </div>

    </div>

{#           <!-- Third Column (Recently Uploaded Recipes) -->#}
    <div class="h-[500px] col-span-1 rounded-xl w-full [background:linear-gradient(180deg,_#1956ff,_#043488_98.5%)] shadow-[0px_4px_11.9px_4px_rgba(0,_0,_0,_0.13)]">
        <h1 class="text-center"> Recently Uploaded Recipes </h1>
    </div>

</div>

</body>
</html>
