<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/img/apple-icon.png" %}">

    <link rel="icon" type="image/png" href="{% static "assets/img/favicon.png" %}">
    <title>
        Sign In
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <!-- Nucleo Icons -->
    <link href="{% static "assets/css/nucleo-icons.css" %}" rel="stylesheet"/>
    <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet"/>
    <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static "assets/css/argon-dashboard.css" %}" rel="stylesheet"/>
</head>

<body class="">
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div id="otpless-login-page">
                                <script type="text/javascript" src="https://otpless.com/auth.js"
                                        cid="{{ cid }}"></script>
                            </div>

                            <div class="card-footer text-center pt-0 px-lg-2 px-1 mt-4">
                                <p class="mb-4 text-sm mx-auto">
                                    Don't have an account?
                                    <a class="text-primary text-gradient font-weight-bold"
                                       href="{% url 'signup-page' %}">Sign up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
                             style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
          background-size: cover;">
                            <span class="mask bg-gradient-primary opacity-6"></span>
                            <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new
                                currency"</h4>
                            <p class="text-white position-relative">The more effortless the writing looks, the more
                                effort the writer actually put into the process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/img/apple-icon.png" %}">

<!--   Core JS Files   -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "js/login.js" %}"></script>
</body>

</html>