{% extends "dash_base.html" %}
{% block content %}
    {% load static %}
    <title>
        Uploaded Recipies
    </title>
    <style>
        .dataTables_paginate .paginate_button {
            border: 1px solid transparent;
            float: left;
            margin-left: 2px;
            padding: 5px 10px; /* Adjusted padding */
            position: relative;
            text-decoration: none;
            color: #333;
            cursor: pointer;
            background-color: #f5f5f5; /* Background color */
            text-align: center; /* Center align text */
            font-weight: normal; /* Adjust font weight if needed */
            font-size: 14px; /* Adjust font size if needed */
        }

        .dataTables_paginate .paginate_button:hover {
            background-color: #e0e0e0; /* Hover background color */
            color: #000; /* Hover text color */
        }

        .dataTables_paginate .paginate_button.current {
            background-color: #007bff; /* Current page background color */
            color: #fff; /* Current page text color */
        }

        .dataTables_info {
            margin-left: 20px; /* Adjust the margin-right value as needed */

        }

        .dataTables_paginate {
            margin-left: 20px; /* Adjust the margin-right value as needed */
            margin-top: 10px; /* Adjust the margin-right value as needed */
            margin-bottom: 10px; /* Adjust the margin-right value as needed */
        }

        .dataTables_length {
            margin-left: 20px;
        }
    </style>
    <nav aria-label="breadcrumb mt-4" class="ms-4">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Uploaded Recipies</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0 ml-4">Uploaded Recipies</h6>
    </nav>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Recipe Table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="uploaded-recipe-table" class="table dt-responsive nowrap" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">
    <script src="{% static "js/trainer_dashboard/recipe_list.js" %}"></script>

{% endblock %}
